img{
  margin-top: 50px;
}

.login-padding{
  margin-top: 30px;
}

.headerText{
  font-size: 50px;
}

.float-button{
  position: fixed;
  z-index: 9999;
  bottom: 20px;
  right: 20px;
}

.container-custom: {
  width: 98%;
  height: 100%;
}

.image-padding{
  padding: 5px;
}

/*.nav-color{
  background-color: #DDD189;
}*/

