@media screen and (min-width: 1000px) {
    .brand-logo{
      margin-left: 50px;
    }
}

body{
  /*background-color: #3DDADB;*/
  background-image: url("images/p2.png");
  background-repeat: yes;
}

.login-padding{
  margin-top: 50px;
}

.headerText{
  font-size: 50px;
}

.float-button{
  position: fixed;
  z-index: 9999;
  bottom: 20px;
  right: 20px;
  
}

.image-padding{
  padding: 5px;
}

.unauthorized-page{
  margin-top: 50px;
}

.unauthorized-title{
  font-size: 30px;
}

.unauthorized-para{
  padding-top: 30px;
}

.unauthorized-card{
  padding: 30px;
}
