@media screen and (min-width: 1000px) {
    .brand-logo{
      margin-left: 50px;
    }
}

body{
  background-image: url("images/p2.png");
  background-repeat: yes;
}

.login-padding{
  margin-top: 50px;
}

.headerText{
  font-size: 50px;
}

.float-button{
  position: fixed;
  z-index: 9999;
  bottom: 20px;
  right: 20px;
}

.image-padding{
  padding: 5px;
}

.unauthorized-page{
  margin-top: 50px;
}

.unauthorized-title{
  font-size: 30px;
}

.unauthorized-para{
  padding-top: 30px;
}

.unauthorized-card{
  padding: 30px;
}

.filter-toggle{
  background-color: white;
  padding: 15px;
}

.filter-toggle button{
  margin-bottom: 10px;
}

.no-student-card a{
  color: grey;
}

.no-coach-card a{
  color: grey;
}

.no-schools-card{
  margin-top: 30px;
}

.dropdown-content{
  min-width: 150px;
}

.search-style{
  margin-bottom: 30px;
  opacity: 0.5;
}

.dashed-line{
  border:none;
  border-top:1px dotted #f00;
  color:#fff;
  background-color:#fff;
  height:1px;
}

.edit-padding{
  padding: 10px;
}

.change-password{
  margin-top: 50px;
  padding: 10px;
}

nav .nav-wrapper form, nav .nav-wrapper form .input-field{
height: 100%;
}
