<template name="navigation">
  <div class="navbar-fixed">
    <nav class="cyan darken-1">
      <div class="nav-wrapper">
        <a href="/" class="brand-logo">LU Tracker</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          {{#if currentUser}}
          <li><a href="/manageStudents">Manage Students</a></li>
          <li><a href="#" class="logoutButton">Logout</a></li>
          {{/if}}
        </ul>
        <ul class="side-nav" id="mobile-demo">
          {{#if currentUser}}
          <li><a href="/manageStudents">Manage Students</a></li>
          <li><a href="#" class="logoutButton">Logout</a></li>
          {{/if}}
        </ul>
      </div>
    </nav>
  </div>
</template>
